.logo{
  color: #fff;
  font-size: 36px;
}
.layout{
  height: 650px;
}
.site-layout-content {
  height: 510px;
  width: 100%;
  padding: 24px;
  background: #fff;
  overflow-y: auto;
  overflow-x: hidden;
}
.pagination{
  max-width: 60%;
  display: block;
  margin: 20px auto!important;
}
#login-button{
  width: 250px;
  height: 50px;
  margin: 15% 40%;
}